
<%- include('../partials/head') %> 

<<<<<<< HEAD
<link rel='stylesheet' href='/stylesheets/header.css' />
<link rel='stylesheet' href='/stylesheets/social.css' />
<link rel='stylesheet' href='/stylesheets/register.css' />
<link rel='stylesheet' href='/stylesheets/footer.css' />
</head>
=======
<link rel='stylesheet' href='/stylesheets/registro.css' />
<link rel='stylesheet' href='/stylesheets/common.css' />
>>>>>>> fbf483cfe6aadd0e7c1c9acd7a3540571e27d753

  <body>
    <form action="/auth/validate" class="login" method="POST">
      <h1>INICIAR SESIÓN</h1>
      <div class="login-box">
        <div class="login-input">
          <i class="fas fa-envelope"></i>
          <input type="text" name="email" id="email" placeholder="Email" />
        </div>

        <div class="login-input">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
          />
        </div>

        <div class="Remember">
          <input class="check" type="checkbox" name="" id="" />Recordarme
        </div>

        <input type="submit" value="Ingresar" class="button" />

        <hr />
        <p>
          <a href="#">Olvide mi contraseña</a><br />
          <a href="/auth/register">No tengo cuenta</a>
        </p>
      </div>
    </form>

    <%- include('../partials/footer') %> 
    
  </body>
</html>
