  <%- include('../partials/head') %> 
  <body>
    <form action="/auth/registred" class="login" method="POST">
      <h1>CREÁ TU CUENTA</h1>
      <div class="login-box">
        <div class="login-input">
          <i class="fas fa-user"></i>
          <input
            type="text"
            name="UserName"
            id="UserName"
            placeholder="Nombre de Usuario"
          />
        </div>

        <div class="login-input">
          <i class="fas fa-lock"></i>
          <input
            type="email"
            name="UserEmail"
            id="UserEmail"
            placeholder="Email"
          />
        </div>

        <div class="login-input">
          <i class="fas fa-lock"></i>
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
          />
        </div>

        <div class="Remember">
          <input class="check" type="checkbox" name="" id="" />Acepto los
          <a href="#">Términos y Condiciones</a>
        </div>

        <input type="submit" value="Confirmar" class="button" />

        <hr />
        <p><a href="/auth/login">Ya tengo una cuenta</a><br /></p>
      </div>
    </form>
   
  </body>
  <%- include('../partials/footer') %> 
</html>
