<link rel='stylesheet' href='/stylesheets/common.css' />
<link rel='stylesheet' href='/stylesheets/index.css' />

  <div class="common-f-parag common-bolded common-section1" id="back" onclick="topFunction()">
   BACK TO TOP
  </div>
  
  <script>
    let backToTop = document.getElementById('back')
  
    function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  </script>