<footer>
  <div class="d-flex">
    <div class="f-title w-50 align-left">MAG Dress Store</div>
    <div class="footer-icons footer-section3">
      <i class="fas fa-share-alt"></i>
      <i class="fas fa-gift"></i>
      <i class="fab fa-facebook"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
    </div>
  </div>
  <div class="footer-f-parag common-bolded" id="f-parag-desktop">
    
  </div>
  <div class="footer-f-parag bolded" id="f-parag-mobile">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
  <div class="f-bolded">Copyright 2020. All rights reserved.</div>
</footer>
