<footer>
    <div class="common-d-flex">
      <div class="common-f-title common-w-50">MAG</div>
      <div class="common-icons common-section3">
        <i class="fas fa-share-alt"></i>
        <i class="fas fa-gift"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
      </div>
    </div>
    <div class="common-f-parag common-bolded" id="f-parag-desktop">
      TEXTO DE ESCRITORIO-Lorem ipsum dolor sit amet consectetur adipisicing
      elit. A ipsum nulla voluptatibus eveniet! Quia aut commodi perferendis
      laboriosam corrupti similique quae.
    </div>
    <div class="common-f-parag bolded" id="f-parag-mobile">
      TEXTO DE CELULAR-Lorem ipsum dolor sit amet consectetur adipisicing
      elit. A ipsum nulla voluptatibus eveniet!
    </div>
    <div class="common-bolded">Copyright Date Name. All rights reserved.</div>
  </footer>