<div class="social d-flex f-row">

    <div class="facebook media w-5">
        <i class="fab fa-facebook-f"></i>
        </div>
    
    <div class="media w-5">
        <i class="fab fa-twitter"></i>
    </div>

    <div class="media w-5">
    <i class="fab fa-instagram"></i>
    </div>

    <div class="media w-5">
    <i class="fab fa-youtube"></i>
    </div>

    <div class="media w-5">
    <i class="fas fa-envelope"></i>
    </div>
    

    <div class="auth w-60 d-flex f-row f-end">
        <div class="login-text">
          <% if(user){ %>
              <p><%= user %> <p><form action="/auth/logout" method="POST"> <button>LOGOUT</button></form></p>
         <%  } else{ %>
              <p><a href="/auth/login"> LOGIN</a></p>
              <% } %>
           

        </div>
        <div>|</div>
        <div class="register">
            <p><a href="/auth/register">REGISTER</a></p>
        </div> 
    </div>

    <div class="cart  d-flex f-row">
        <div class="items">
            <p>999 ITEMS - $999.999,99</p>
        </div>
        <div class="icon">
            <i class="fas fa-shopping-cart"></i>
        </div> 
    </div>


    

</div>