<header>
    <nav class="common-barra-contain common-d-flex common-space-bet">
      <div class="common-section1">
        <a class="common-lin-horizontal common-bolded" href="/">Home</a>
        <a href="/products">Catálogo</a>
      </div>
      <div class="common-bolded common-Section2">MAG</div>
      <div class="common-icons common-Section4">
        <a href="/auth/login"><i class="fas fa-sign-in-alt">L</i></a>
        <a href="/auth/register"><i class="fas fa-user-plus">R</i></a>
      </div>
    </nav>
  </header>