<header>
  <nav class="common-barra-contain common-d-flex common-space-bet">
    <div class="common-section1">
      <a class="common-lin-horizontal common-bolded" href="/">Home</a>
      <a href="/products">Catálogo</a>
      <a href="/products/create">| Añadir producto</a>
    </div>
    <div class="common-bolded common-Section2">MAG</div>
    <div class="common-icons common-Section4">
      <a href="/auth/login"><i class="fas fa-sign-in-alt"></i></a>
      <a href="/auth/register"><i class="fas fa-user-plus"></i></a>
    </div>
  </nav>
</header>
