<header>
    <nav class="common-barra-contain common-d-flex common-space-bet">
      <div class="common-section1">
        <a class="common-lin-horizontal common-bolded" href="#">Home</a>
        <a href="/catalogo">Catálogo</a>
      </div>
      <div class="common-bolded common-Section2">MAG</div>
      <div class="common-icons common-Section4">
        <i class="fas fa-sign-in-alt"></i>
        <i class="fas fa-user-plus"></i>
      </div>
    </nav>
  </header>