<% products.forEach(function(products) { %>

      <article class="w-20">
        <!-- <a href="/products/<%=products.id %>"> -->
        <div>
          <img src= "<%=products.image%>"    alt="" width="100%">
        </div>
        <div class="p-2">
          <%=  products.precio %>
        </div>
        <div class="p-2">
          <%=  products.detalle %>
        </div>
        </a>
      </article>

    <% })  %> 