<div class="search p-1">
    <form action="/products/search" method="GET" class="search-form">
      ALIAS:
      <input type="text" name="alias" id="search" class="p-05">
      <input type="submit" value="SEARCH" class="p-05">
    </form>
  </div>