<form action="/products/create" method="POST">
<label for="alias">Alias</label>
<input type="text" name="alias"> 
<label for="RealName">Real Name</label>
<input type="text" name="name">
<label for="Powers">Powers</label>
<input type="text" name="powers">
<label for="Review">Review</label>
<input type="textArea" name="review">

<input type="submit">


</form>