<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/listing.css" />
    <link rel="stylesheet" href="stylesheets/common.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <title>MAG: Listado</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('../partials/header') %>
    <!-- <div class="common-d-flex pad">
      <div class="common-d-flex align-center">
        <div class="w-20 boxes-mar">
          <div>
            <div>
              <img src="images/placeholder-2.png" class="img-fit" />
            </div>
            <div class="align-left">
              <div class="prices">$25,00</div>
              <div>Detalle?</div>
            </div>
          </div>
        </div>
        <div class="w-20 boxes-mar">
          <div>
            <div>
              <img src="images/placeholder-2.png" class="img-fit" />
            </div>
            <div class="align-left">
              <div class="prices">$25,00</div>
              <div>Detalle?</div>
            </div>
          </div>
        </div>
        <div class="w-20 boxes-mar">
          <div>
            <div>
              <img src="images/placeholder-2.png" class="img-fit" />
            </div>
            <div class="align-left">
              <div class="prices">$25,00</div>
              <div>Detalle?</div>
            </div>
          </div>
        </div>
        <div class="w-20 boxes-mar">
          <div>
            <div>
              <img src="images/placeholder-2.png" class="img-fit" />
            </div>
            <div class="align-left">
              <div class="prices">$25,00</div>
              <div>Detalle?</div>
            </div>
          </div>
        </div>
        <div class="w-20 boxes-mar">
          <div>
            <div>
              <img src="images/placeholder-2.png" class="img-fit" />
            </div>
            <div class="align-left">
              <div class="prices">$25,00</div>
              <div>Detalle?</div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <section class="section p-2">
      <div class="d-flex f-row f-wrap j-arround">
        <%- include('../partials/productListings') %>
      </div>
    </section>
    <%- include('../partials/footer') %>
  </body>
</html>
