
*{
    margin:0;
    padding: 0;
    background-color:white;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    color: #3d3d3d;
}

a {
    text-decoration: none;
    color:black   
}

input:focus {
    outline: 0px;   
}


.d-flex{display: flex;}
.flex-row{flex-direction: row;}
.justify-center{justify-content: center;}
.justify-left{justify-content: left;}
.f-grow-1{flex-grow: 1;}
.f-grow-5{flex-grow: 5;}
.f-grow-7{flex-grow: 7;}
.f-grow-10{flex-grow: 10;}
.align-self-center {align-self: center;}
.px-2 {
    padding: 0 2%;
    height: 356px;
}


.titulos{
    font-size: 12px;
}

.Titulo-Carrito{
    font-size: 13px;
    justify-content: center;
    margin: 20px
}

.header { 
    background-color: grey;
    height: 100px;
}

.footer { 
    background-color: grey;
    height: 100px;
}

.Fondo-Carrito { 
    background-color:white);
    height: 410px;
    margin: 30px 50px 30px 50px;
}


p{
    font-size: 2em;
}

.Texto-resumen {
    font-size: 1em;
}


.Producto-Imagen{   
    max–width: 100px;
    height: auto;
    text-align: left
     
} 

.Producto-Detalle{
    font-size: 12px;
    text-align: center
} 
.Producto-Cantidad{
    font-size: 12px;
    text-align: center
} 
.Producto-Precio{
    font-size: 12px;
    text-align: center
} 
.Resumen-Carrito{
    margin: 5px
    font-size: 10px;
    text-align: center;
    padding: 3px 10px;
    border: black 5px solid;
    border-radius: 20px;

} 



.Botones{
    background-color: # 4CAF50; / * * Verde /
    border: none;
    color: blanco;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    margin: 2px
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 0 8 píxeles 16px RGBA (0,0,0,0.2), 0 6px 20px 0 RGBA (0,0,0,0.19);

} 

.Texto-Sombra {
    text-shadow: 0 1px 0 #ccc,
                 0 2px 0 #c9c9c9,
                 0 3px 0 #bbb,
                 0 4px 0 #b9b9b9,
                 0 5px 0 #aaa,
                 0 6px 1px rgba(0,0,0,.1),
                 0 0 5px rgba(0,0,0,.1),
                 0 1px 3px rgba(0,0,0,.3),
                 0 3px 5px rgba(0,0,0,.2),
                 0 5px 10px rgba(0,0,0,.25),
                 0 10px 10px rgba(0,0,0,.2),
                 0 20px 20px rgba(0,0,0,.15);
}

.Texto-Carrito {
    font-size: 20px;
}