* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

header {
  width: 100%;
  
}

a {
  text-decoration: none;
  color: black;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.auto-w {
  width: auto;
}

.space-bet {
  justify-content: space-between;
}

.space-ar {
  justify-content: space-around;
}

.barra-contain {
  background-color: rgb(231, 228, 228);
  padding: 3vh;
  font-size: 22px;
  height: 80px;
}

.icons {
  padding: 0px;
  font-size: 24px;
}

.bolded {
  font-weight: 600;
}

.section1 {
  width: 32%;
  font-size: 18px;
}

.section3 {
  margin-left: 10%;
}

.barra-contain a {
  color: rgb(80, 80, 80);
  padding: 5px;
}

.lin-horizontal {
  border-bottom: solid 2px;
}

.first-bg {
  background-image: url("/imagenes/first-bg-placeholder.png");
  height: 1000px;
}

.title {
  justify-content: center;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}

.padding-title-1 {
  padding: 75px 75px 0px 75px;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.paragraph {
  font-size: 20;
  margin: 1.5% 30%;
  text-align: center;
}

.margin-img {
  margin: 1% 8%;
}

.bg-lgray {
  background-color: lightgray;
}

footer {
  background-color: rgb(243, 243, 243);
  padding: 7%;
}

.f-title {
  font-size: 25px;
  font-weight: bold;
}

.f-parag {
  padding: 1.5% 0%;
  width: 20%;
}
