<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/stylesheets/index.css" />
    <link rel="stylesheet" href="stylesheets/common.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <title>MAG: Cada prenda tiene su historia</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <%- include('../partials/header') %> 

    <div class="first-bg d-flex title padding-title-1">
      <br />
      Indumentaria Nueva
      <br />
      y con algo de historia
      <br />
      <br />
      + CALIDAD - PRECIO
      <br />
      <br />
      <br />
      <br />
      Si Vendes,
      <br />
      Nosotros nos encargamos de todo
      <br />
      <br />
      <br />
      <br />
      Si Compras
      <br />
      Te aseguramos la mejor Calidad
      <br />
      al mejor Precio
    </div>
    <div class="d-flex column">
      <div class="title padding-title-1">RECIEN LLEGADOS</div>
      <div class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
        voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
        sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
        Tenetur, culpa consectetur!
      </div>
      <!-- ============IMAGES NEED WORK====================!!!!!!!! -->
      <div class="d-flex margin-img row space-ar">
        <article>
          <img class="auto-w" src="images/image.png" />
        </article>
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
      </div>
    </div>
    <div class="d-flex column bg-lgray">
      <div class="title padding-title-1">PRODUCTOS PROMOCIONADOS</div>
      <div class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
        voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
        sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
        Tenetur, culpa consectetur!
      </div>
      <!-- ============IMAGES NEED WORK====================!!!!!!!! -->
      <div class="d-flex margin-img row space-ar">
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
      </div>
      <div class="center margin-button">
        <button type="button" class="button">VER TODOS</button>
      </div>
    </div>
    <div class="first-bg d-flex title padding-title-1 column">
      <div class="title padding-title-1">BUSCÁ TU FIT</div>
      <div class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
        voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
        sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
        Tenetur, culpa consectetur!
      </div>
      <div>
        <button type="button" class="button">EMPEZAR</button>
      </div>
    </div>
    <div class="d-flex column">
      <div class="title padding-title-1">PROMOCIONES</div>
      <div class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
        voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
        sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
        Tenetur, culpa consectetur!
      </div>
      <!-- ============IMAGES NEED WORK====================!!!!!!!! -->
      <div class="d-flex margin-img row space-ar">
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
      </div>
      <div class="d-flex margin-img row space-ar">
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
      </div>
      <div class="center margin-button">
        <button type="button" class="button center">VER TODOS</button>
      </div>
    </div>
    <div class="d-flex column bg-lgray">
      <div class="title padding-title-1">¿COMO FUNCIONA?</div>
      <div class="d-flex margin-img row space-ar">
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
      </div>
      <div class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
        voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
        sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
        Tenetur, culpa consectetur!
      </div>
      <div class="center margin-button">
        <button class="button">QUIERO VENDER!</button>
      </div>
    </div>
    <div class="d-flex column">
      <div class="title padding-title-1">PROXIMOS INGRESOS</div>
      <div class="paragraph">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
        voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
        sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
        Tenetur, culpa consectetur!
      </div>
      <!-- ============IMAGES NEED WORK====================!!!!!!!! -->
      <div class="d-flex margin-img row space-ar">
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
        <article>
          <img class="auto-w" src="images/image.png" />
          <div>SEGUIR TRABAJANDO EN IMAGENES</div>
        </article>
      </div>
      <div class="center margin-button">
        <button type="button" class="button">VER TODOS</button>
      </div>
    </div>
    <div class="title padding-title-1 bg-lgray">
      SUSCRIBITE A NUESTRO NEWSLETTER
    </div>
    <%- include('../partials/footer') %> 
  </body>
</html>
