header {
  width: 100%;
}
.common-barra-contain {
  background-color: rgb(231, 228, 228);
  padding: 3vh;
  font-size: 22px;
  height: 10%;
}

.common-d-flex {
  display: flex;
}

.common-space-bet {
  justify-content: space-between;
}

.common-section1 {
  width: 32%;
  font-size: 18px;
}

.common-lin-horizontal {
  border-bottom: solid 2px;
}

.common-bolded {
  font-weight: bold;
}
.common-section4 {
  width: 32%;
  text-align: right;
}

a {
  text-decoration: none;
  color: black;
}

footer {
  padding: 7%;
}

.common-f-title {
  font-size: x-large;
  font-weight: bold;
}

.common-f-parag {
  padding: 1.5% 0%;
  width: 30%;
}

.common-w-50 {
  width: 50%;
}

#f-parag-desktop {
  display: block;
}

#f-parag-mobile {
  display: none;
}

.common-icons {
  padding: 0px;
  font-size: 28px;
}

.common-section3 {
  width: 50%;
  text-align: right;
}

@media (max-width: 575.98px) {
  #f-parag-mobile {
    display: block;
  }
  #f-parag-desktop {
    display: none;
  }
  .common-section1 {
    width: 40%;
    font-size: 14px;
  }

  .common-icons {
    padding: 0px;
    font-size: 24px;
  }

  .common-section2 {
    width: 20%;
    text-align: center;
  }

  .common-section4 {
    width: 40%;
    text-align: right;
  }

  .common-barra-contain {
    padding: 2vh;
    font-size: 20px;
  }

  .common-title {
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
  }
  .common-paragraph {
    font-size: 14;
    margin: 1.5% 10%;
    text-align: center;
  }

  .common-f-parag {
    padding: 4.5% 0%;
    width: 100%;
  }
}
