* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}


html{
  scroll-behavior: smooth;
}

.center {
  text-align: center;
}

.margin-button {
  margin: 1% 0%;
}

.button {
  text-align: center;
  border: none;
  width: 30%;
  color: #eaeaea;
  font-size: 14px;
  background-color: lightblue;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0 auto;
}

header {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100%;
}

.auto-w {
  width: auto;
}

.space-bet {
  justify-content: space-between;
}

.space-ar {
  justify-content: space-around;
}

.barra-contain {
  background-color: rgb(231, 228, 228);
  padding: 3vh;
  font-size: 22px;
  height: 80px;
}

.icons {
  padding: 0px;
  font-size: 28px;
}

.bolded {
  font-weight: 600;
}

.section1 {
  width: 32%;
  font-size: 18px;
}

.section2 {
}

.section3 {
  width: 50%;
  text-align: right;
}

.section4 {
  width: 32%;
  text-align: right;
}

.barra-contain a {
  color: rgb(80, 80, 80);
  padding: 5px;
}

.lin-horizontal {
  border-bottom: solid 2px;
}

.first-bg {
  background-image: url("/images/first-bg-placeholder.png");
  height: 1000px;
}

.title {
  justify-content: center;
  font-weight: bold;
  font-size: xx-large;
  text-align: center;
}

.padding-title-1 {
  padding-top: 1.5%;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
}

.paragraph {
  font-size: 20;
  margin: 1.5% 30%;
  text-align: center;
}

.margin-img {
  margin: 1% 8%;
}

.bg-lgray {
  background-color: lightgray;
}

footer {
  background-color: rgb(243, 243, 243);
  padding: 7%;
}

.f-title {
  font-size: x-large;
  font-weight: bold;
}

.f-parag {
  padding: 1.5% 0%;
  width: 30%;
}

.w-50 {
  width: 50%;
}

#f-parag-desktop {
  display: block;
}

#f-parag-mobile {
  display: none;
}

@media (max-width: 575.98px) {
  #f-parag-mobile {
    display: block;
  }
  #f-parag-desktop {
    display: none;
  }
  .section1 {
    width: 40%;
    font-size: 14px;
  }

  .icons {
    padding: 0px;
    font-size: 24px;
  }

  .section2 {
    width: 20%;
    text-align: center;
  }

  .section4 {
    width: 40%;
    text-align: right;
  }

  .barra-contain {
    padding: 2vh;
    font-size: 20px;
  }

  .title {
    justify-content: center;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
  }
  .paragraph {
    font-size: 14;
    margin: 1.5% 10%;
    text-align: center;
  }

  .f-parag {
    padding: 4.5% 0%;
    width: 100%;
  }
}
