* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
}

.bg-image {
  background-image: url(/images/Clothing-Store.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-white {
  background-color: whitesmoke;
}

.d-flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.justify-center {
  justify-content: center;
}

.justify-space {
  justify-content: space-around;
}

.align-center {
  text-align: center;
}

.h-100 {
  height: 100%;
}

.title-agregar {
  font-size: 1.5em;
  margin: 20px;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}

.fancy-border {
  margin: 20px;
  border: black 5px solid;
  border-radius: 20px;
  padding: 1% 1%;
  width: 65%;
}

.create-field {
  width: 70%;
  margin: 2%;
  border-radius: 8px;
  padding: 11px;
  font-size: 18px;
}

.button-image {
  width: 100%;
}

.button-create-space {
  justify-content: space-evenly;
}

.button2 {
  width: 13%;
  height: 50px;
  border: black 1px solid;
  border-radius: 8px;
}

#button-submit {
  background-color: lightseagreen;
  color: white;
  font-size: 18px;
}

#button-reset {
  color: gray;
}
