
<%- include('../partials/head') %> 

<link rel='stylesheet' href='/stylesheets/header.css' />
<link rel='stylesheet' href='/stylesheets/index.css' />
<link rel='stylesheet' href='/stylesheets/footer.css' />

</head>
<body>
<%- include('../partials/header') %> 
<!-- <div class="d-flex w-100">
  <img src="/images/croppedcover.jpeg" width="100%" alt="">
</div>-->
<div class="d-flex column">
  <div class="title padding-title-1">RECIEN LLEGADOS</div>
  <div class="paragraph">
    Descubri lo nuevo que ingreso en MAG
  </div>
  <!-- ============IMAGES NEED WORK====================!!!!!!!! -->
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/bermuda_hombre.jpg" />
    </article>
    <article>
      <img class="auto-w" src="images/saco.jpg" />
    </article>
  </div>
</div>
<div class="d-flex column bg-lgray">
  <div class="title padding-title-1">PRODUCTOS PROMOCIONADOS</div>
  <div class="paragraph">
    Nuestra sugerencia para verte mejor
  </div>
  <!-- ============IMAGES NEED WORK====================!!!!!!!! -->
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/pantalon.jpg" />
      <div>Pantalon Hombre Marron</div>
    </article>
    <article>
      <img class="auto-w" src="images/botas.jpg" />
      <div>Botas Mujer Stark</div>
    </article>
    <article>
      <img class="auto-w" src="images/jean_azul.jpg" />
      <div>Jean Mujer Celeste</div>
    </article>
  </div>
  <div class="center margin-button">
    <button type="button" class="button">VER TODOS</button>
  </div>
</div>
<div class="first-bg d-flex title padding-title-1 column">
  <div class="title padding-title-1">BUSCÁ TU FIT</div>
  <div class="paragraph">
    Te damos los mejores consejos y combinaciones para que mejores tu look
  </div>
  <div>
    <button type="button" class="button">EMPEZAR</button>
  </div>
</div>
<div class="d-flex column">
  <div class="title padding-title-1">PROMOCIONES</div>
  <div class="paragraph">
    Aprovechá todas las promociones y descuentos que tenemos para ofrecerte
  </div>
  <!-- ============IMAGES NEED WORK====================!!!!!!!! -->
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/zapatillas.jpg" />
      <div>Zapatillas Mujer</div>
    </article>
    <article>
      <img class="auto-w" src="images/buzo_nino.jpg" />
      <div>Buzo Niño</div>
    </article>
  </div>
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/chomba_nino.jpg" />
      <div>Chomba Niño</div>
    </article>
    <article>
      <img class="auto-w" src="images/pantalon_babucha.jpg" />
      <div>Pantalon Babucha Hombre</div>
    </article>
    <article>
      <img class="auto-w" src="images/buzo_canguro.jpg" />
      <div>Buzo Canguro Hombre</div>
    </article>
  </div>
  <div class="center margin-button">
    <button type="button" class="button center">VER TODOS</button>
  </div>
</div>
<div class="d-flex column bg-lgray">
  <div class="title padding-title-1">¿COMO FUNCIONA?</div>
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>Imagen del ciclo de adquisicion, stock y venta</div>
    </article>
  </div>
  <div class="paragraph">
    Podes vender con nosotros por prenda o lote, si tenes mas de una.Nosotros nos encargamos de retirar y publicar la vestimenta que desees vender, previo a una evaluacion de nuestro staff y que hayamos pactado un precio de venta.  
  </div>
  <div class="center margin-button">
    <button class="button">QUIERO VENDER!</button>
  </div>
</div>
<div class="d-flex column">
  <div class="title padding-title-1">PROXIMOS INGRESOS</div>
  <div class="paragraph">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Soluta
    voluptatem omnis expedita consequatur ab. Ipsa neque dolore perferendis
    sint vel consequatur velit omnis consequuntur! Nam, ea corporis?
    Tenetur, culpa consectetur!
  </div>
  <!-- ============IMAGES NEED WORK====================!!!!!!!! -->
  <div class="d-flex margin-img row space-ar">
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
    <article>
      <img class="auto-w" src="images/image.png" />
      <div>SEGUIR TRABAJANDO EN IMAGENES</div>
    </article>
  </div>
  <div class="center margin-button">
    <button type="button" class="button">VER TODOS</button>
  </div>
</div>
<div class="title padding-title-1 bg-lgray">
  SUSCRIBITE A NUESTRO NEWSLETTER
</div>

<%- include('../partials/backButton') %> 
<%- include('../partials/footer') %> 
</body>
</html>
