<form action="/products/create" method="POST">
  <label for="alias">Precio</label>
  <input type="text" name="alias" />
  <label for="RealName">Detalle</label>
  <input type="text" name="name" />

  <input type="submit" />
</form>
